@import "{{ site.theme }}";

.main-nav ul {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;

  li {
    padding: 5px 15px;
    border-bottom: 2px solid transparent;

    &.current {
      border-color: white;
    }

    a {
      color: white;
      text-decoration: none;
    }
  }
}