---
---

@import "{{ site.theme }}";
@media screen and (min-width: 64em) {
  .main-content {
    max-width: 48rem;
    padding: 2rem 1.5rem;
    margin: 0 auto;
    font-size: 1.1rem
  }
}
.main-content > h1:first-child {
  display: none;
}
.main-nav ul {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;

  li {
    padding: 5px 15px;
    border-bottom: 2px solid transparent;

    &.current {
      border-color: white;
    }

    a {
      color: white;
      text-decoration: none;
    }
  }
}
